//css:
.appScreen{
    width: 100vw;
    height: 100vh;

    .hide_scrollbar::-webkit-scrollbar {
      display: none;
    }
    
    .hide_scrollbar {
      -ms-overflow-style: none !important;  
      scrollbar-width: none !important;  
    }

    .bottomScreen{
      display: flex;
      flex-direction: column;
      height: 92vh;
      overflow-y: hidden;
      .leftBar{
        background-color: rgba(54, 148, 240, 255);
        width: 100vw;
        overflow-y: auto;
      }
      .rightScreen{
        background-color: rgb(245, 245, 245);
        width: 100vw;
        overflow-y: auto;
        height: 89vh;
      }
      .copyScreen{
        background-color: rgb(245, 245, 245);
        width: 100vw;
        display: flex;
        justify-content: center;
      }
    }

}